/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2018, 9:15:20 AM
    Author     : Kirk Johnson
*/
.register-section.extended-profile, .register-section.default-profile{
    flex-basis: 36%!important;
    flex-grow: 3!important;
}

